
@{
    Layout="~/Views/Shared/_adminLayout.cshtml";
}

@model IEnumerable<ServiceRequest>

    <!-- -------------------------------right-section start-------------------------------------- -->

    <div class="right-section" id="adminService">
      
      <div class="table-name d-flex justify-content-between">
        <p class="table-name-info">Service Requests </p>
      </div>
    
      <div class="formpart">
        <form>
          <div class="d-flex flex-wrap">
            <div class="mr-3 service-id">
              <input type="text" class="form-control" placeholder="Service ID">
            </div>
            <div class="dropdown customer-input mr-3 ">
              <select  class="form-control " placeholder="" name="customer" id="customer">
                <option value="customer">Customer</option>
                <option value="	Lyum watson">Lyum watson</option>
                <option value="John Smith"></option>
              </select>
            </div>
            <div class="dropdown mr-3 ">
              <select  class="form-control " placeholder="" name="service-provider" id="service-provider">
                <option value="service-provider">Service Provider</option>
                <option value="	Lyum watson">Lyum watson</option>
                <option value="John Smith">John Smith</option>
              </select>
            </div>
            <div class="mr-3 ">
              <select  class="form-control " placeholder="" name="status" id="status">
                <option value="status">Status</option>
                <option value="	">New</option>
                <option value="	">Pending</option>
                <option value="	">Closed</option>
                <option value="	">Canceled</option>
                <option value="	">Reimbursed</option>
                <option value="	">Expired</option>
                <option value="	">Rescheduled</option>
              </select>
            </div>
            <div class="mr-3 ">
                @*<input placeholder="From Date" type="text" onfocus="(this.type = 'date')" id="" class="form-control calender-img" name=""  >*@
                <input type="date" class="form-control" />
            </div>
            <div class="mr-3 ">
              @*<input placeholder="To Date" type="text" onfocus="(this.type = 'date')" id="" class="form-control calender-img" name=""  >*@
              <input type="date" class="form-control" />  
          </div>
            <div class="mr-3 ">
              <button type="submit" class="btn searchbtn">Search</button>
            </div>
            <div class="clear">
              <button type="" class="btn clearbtn">Clear</button>
            </div>
          </div>
        </form>
      </div>
 <!-- -------------------------------table-section start-------------------------------------- -->
  
 
  <div class="alert alert-success alert-dismissible fade show" id="detail-update-alert" style="display:none" role="alert">
                <strong>Your Service details successfully updated.</strong> 
                @*<div asp-validation-summary="ModelOnly" style="list-style-type:none;"></div>*@
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
    </div>



 <div class="table-part" >
  <table class="table ">
    <thead>
        <th scope="col">Service ID<img src="~/images/sort.png" alt="" srcset=""></th>
        <th scope="col">Service date <img src="~/images/sort.png" alt="" srcset=""></th>
        <th scope="col">Customer details<img src="~/images/sort.png" alt="" srcset=""></th>
        <th scope="col">Service provider<img src="~/images/sort.png" alt="" srcset=""></th>
        <th scope="col">Net Amount<img src="~/images/sort.png" alt="" srcset=""></th>
        <th scope="col">Status <img src="~/images/sort.png" alt="" srcset=""></th>
        <th scope="col">Actions </th>
      </tr>
    </thead>
    <tbody>
       
       @foreach(ServiceRequest serviceRequest in Model)
       {

      <tr>
          <td>@serviceRequest.ServiceRequestId</td>
          <td>
            <a href="" class="service-date-time">
                <div class="d-none">@String.Format("{0:yyyy/MM/dd}", serviceRequest.ServiceStartDate) @Convert.ToDateTime(serviceRequest.ServiceStartDate).TimeOfDay</div>
                            <span class="service-date"><img src="~/images/calendar2.png" alt="" srcset="">@String.Format("{0:dd/MM/yyyy}", serviceRequest.ServiceStartDate)</span>
                            <span class="service-time "><img src="~/images/layer-712.png" class="" alt="" srcset="">@(Convert.ToString(Convert.ToDateTime(serviceRequest.ServiceStartDate).TimeOfDay).Substring(0,5)) - @(Convert.ToString(Convert.ToDateTime(serviceRequest.ServiceStartDate.AddHours(Convert.ToDouble(serviceRequest.ServiceHours + serviceRequest.ExtraHours))).TimeOfDay).Substring(0,5))</span>
            </a>
          </td>
          <td>
            <a href="" class="customer-deails">
              <span class="customer-name">@serviceRequest.User.FirstName @serviceRequest.User.LastName</span>
  @*            <span class="customer-location"><img src="~/images/layer-719.png" alt="" srcset="">Musterstrabe 5,12345 Bonn</span>*@
                @foreach(ServiceRequestAddress address in serviceRequest.ServiceRequestAddresses)
                {
                <p class="mb-0"><img src="~/images/layer-15.png" class="" style="margin-left:-15px; margin-right:4px">@address.AddressLine2, @address.AddressLine1</p>
                <p class="mb-0 pl-2">@address.City - @address.PostalCode</p>            
                }
            </a>
          </td>

            @if(serviceRequest.ServiceProvider != null)
            {
                var rateList = serviceRequest.ServiceProvider.RatingRatingToNavigations.Where(x => x.RatingTo == serviceRequest.ServiceProviderId);
                decimal spRate;
                if (rateList.Count() > 0)
                {
                    spRate = rateList.Average(t => t.Ratings);
                }
                else
                {
                    spRate = 0;
                }
                int i = 0;

                <td class="sp-deails px-0">
                    <a href="" class="">
                    <div class="d-flex">
                        <div class="cap-img">  
                            <img class="" src="~/images/cap.png" alt="" srcset="">
                        </div>
                        <div class="name-rating">
                            <p class="sp-name">@serviceRequest.ServiceProvider.FirstName @serviceRequest.ServiceProvider.LastName</p>
                                    
                            @for (i = 0; i < @Math.Round(spRate); i++)
                            {
                                <img src="~/images/star1.png" class="star" alt="">
                            }
                            @while (i != 5)
                            {
                                <img src="~/images/star2.png" class="star" alt="">
                                i++;
                            }
                                   
                         </div>
                   </div>
                    </a>
                   </td>
                 }
                else
                {
                    <td></td>
                }

          <td class="">@serviceRequest.TotalCost</td>
          @*<td class="customer-deails">
            
          </td>*@ 
          <td>
            @if(serviceRequest.Status==1)
            {
                <span class="new-status">New</span>
            }
            else if(serviceRequest.Status==2)
            {
                <span class="cancelled-status">cancelled</span>
            }
            else if(serviceRequest.Status==3)
            {
                <span class="completed-status">Completed</span>
            }
            else if(serviceRequest.Status==4)
            {
                <span class="pending-status">Pending</span>
            }

              
          </td>
          <td>
            <div class="dropdown">
              <a href="" class="action-dropdown " id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="~/images/group-38.png" alt="">
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" onclick="editModalBtn(@serviceRequest.ServiceRequestId)" data-toggle="modal" data-target="#editServiceModal">Edit</a>
                <a class="dropdown-item" href="#">Deactivate</a>
                <a class="dropdown-item" href="#">Service History</a>
              </div>
            </div>
          </td>
      </tr> 
       
         }
  
  
  
      </tbody>
    </table>
        <!------------------------------- pageination start--------------------------------------->
        <div class="page-hadling " >
          <div class="pagination-spacing d-flex">
            <p class=" pagination-para pagination-spacing">show</p>
            <select class="form-group entry-selction pagination-spacing"  id="exampleFormControlSelect1">
                <option>10</option>
                <option>20</option>
                <option>50</option>
                <option>100</option>
                <option>1000</option>
              </select>
              <span class="pagination-spacing pagination-para">entries</span>
              <p class=" pagination-para">Total Record: 55</p>
          </div>
          
          <div class="ml-auto ">
              <ul class="pagination ">
                  <li><a href=""><img src="~/images/polygon-1-copy-5.png" alt=""></a></li>
                  <li class="active-page"><a href="" >1</a></li>
                  <li><a href="">2</a></li>
                  <li><a href="">3</a></li>
                  <li><a href="">4</a></li>
                  <li><a href="">5</a></li>
                  <li><a href=""><img src="~/images/polygon-1-copy-5.png" alt="" class="rotate-img"></a></li>
              </ul>
          </div>            
      </div>

  <!------------------------------- pageination end------------------------------------------- -->
</div>

<!-- -------------------------------table-section end-------------------------------------- -->


<!--edit service request Modal -->
<div class="modal" id="editServiceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
</div>



@section scripts{
              <script>
                  jQueryAjaxPost = form => {
                    //console.log("method call");
                    try {
                        $.ajax({
                            type: 'POST',
                            url: form.action,
                            data: new FormData(form),
                            contentType: false,
                            processData: false,
                            success: function (res) {
                               
                                if (res.serviceUpdated) {
                                    $("#editServiceModal").modal("hide");
                                    $("#detail-update-alert").show();
                                }
                                
                               
                               
                            },
                            error: function (err) {
                                console.log(err);
                            }
                        });
                    }
                    catch (e) {
                        console.log(e);
                    }

                    return false;
                };

                
              </script>
          }