@{
    Layout = "~/Views/Shared/_activeUser.cshtml";
}
@{
    ViewBag.Title = "customer Dashboard";
}
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model IEnumerable<ServiceRequest>

<link rel="stylesheet" href="~/css/userDashboard_new.css">

      <!-- ----------------------------welcome part start------------------------------------------- -->
      <section class="welcome-part">
        <h2 class="Welcome-name">Welcome,  <span style="color: #4f4f4f; font-weight: bold; padding-left: 10px;">   @HttpContextAccessor.HttpContext.Session.GetString("userName")!</span></h2>
      </section>
     
      <!-- ----------------------------welcome part End----------------------------------- -->
    @if(ViewBag.IsReschedule == true)
    {
     <div class="alert alert-success alert-dismissible fade show" id="service-cancel-alert" style="" role="alert">
        <strong>Your service request date-time has been successfully updated.</strong> 
        @*<div asp-validation-summary="ModelOnly" style="list-style-type:none;"></div>*@
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>   
    }
      @if(ViewBag.IsServiceCancel == true)
    {
     <div class="alert alert-success alert-dismissible fade show" id="service-cancel-alert" style="" role="alert">
        <strong>Your service request has been successfully cancelled.</strong> 
        @*<div asp-validation-summary="ModelOnly" style="list-style-type:none;"></div>*@
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>   
    }
      
      <!-- ----------------------------table part start---------------------------------- -->
      
      <section class="services">
        <div class="container-fluid table-part">
          <div class="left-menu">
            <li class="nav-item"><a class="nav-link left-menu-link activeTab" style="padding-right: 200px;" id="customerDashboard-Tab" onclick="customerDashboard()">Dashboard</a></li>
            <li class="nav-item"><a class="nav-link left-menu-link " id="customerHistory-Tab" onclick="customerHistory()">Service History</a></li>
            <li class="nav-item"><a href="" class="nav-link left-menu-link " id="" >Service Schedule</a></li>
            <li class="nav-item"><a href="" class="nav-link left-menu-link">Favourite Pros</a></li>
            <li class="nav-item"><a href="" class="nav-link left-menu-link">Invoices</a></li>
            <li class="nav-item"><a href="" class="nav-link left-menu-link">Notifications</a></li>
       
          </div>
         
          <div class="dashboardRight" id="customerDashboard">
            <div class="right-table" >
                <div class="table-name d-flex justify-content-between">
                    <p class="table-name-info">My Current Bookings</p>
                    <button class="btn export-btn" onclick="location.href='@Url.Action("Index","BookService")'">Book Now!</button>
                </div>
                <table class="table text-center" >
                  <thead>
                    <tr>
                      <th scope="col" class="px-0">Service ID <img src="~/images/sort.png" alt="" srcset=""></th>
                      <th scope="col" class="px-0">Service Details <img src="~/images/sort.png" alt="" srcset=""></th>
                      <th scope="col" class="px-0">Service Provider <img src="~/images/sort.png" alt="" srcset=""></th>
                      <th scope="col" class="px-0">Payment <img src="~/images/sort.png" alt="" srcset=""></th>
                      <th scope="col" class="px-0">Actions <img src="~/images/sort.png" alt="" srcset=""></th>
                    </tr>
                  </thead>
                  <tbody>
                      
                     @foreach(ServiceRequest serviceRequest in Model)
                     {
                         @if(@serviceRequest.Status!=2)
                         {
                              <tr>
                      <td class="text-center">
                        <a onclick="displayServiceDetails(@serviceRequest.ServiceRequestId)" data-toggle="modal" data-target="#customerServiceInfoModal" style=" cursor: pointer; ">@serviceRequest.ServiceRequestId</a>
                      </td>
                        <td class="service-date-time px-0">
                          <a class="date-time" onclick="displayServiceDetails(@serviceRequest.ServiceRequestId)" data-toggle="modal" data-target="#customerServiceInfoModal" style=" cursor: pointer; ">
                              <div class="d-none">@String.Format("{0:yyyy/MM/dd}", serviceRequest.ServiceStartDate) @Convert.ToDateTime(serviceRequest.ServiceStartDate).TimeOfDay</div>
                            <span class="service-date"><img src="~/images/calendar2.png" alt="" srcset="">@String.Format("{0:dd/MM/yyyy}", serviceRequest.ServiceStartDate)</span>
                            <span class="service-time ml-2"><img src="~/images/layer-712.png" class="" alt="" srcset="">@(Convert.ToString(Convert.ToDateTime(serviceRequest.ServiceStartDate).TimeOfDay).Substring(0,5)) - @(Convert.ToString(Convert.ToDateTime(serviceRequest.ServiceStartDate.AddHours(Convert.ToDouble(serviceRequest.ServiceHours + serviceRequest.ExtraHours))).TimeOfDay).Substring(0,5))</span>
                          </a>
                        </td>
                        @if(serviceRequest.ServiceProvider != null)
                        {
                        <td class="sp-deails px-0">
                          <a href="" class="">
                            <div class="d-flex">
                                <div class="cap-img">  
                                    <img class="" src="~/images/cap.png" alt="" srcset="">
                                </div>
                                <div class="name-rating">
                                    <p class="sp-name">@serviceRequest.ServiceProvider.FirstName + " "+ @serviceRequest.ServiceProvider.LastName</p>
                                    <span class="all-star ">
                                        <img src="~/images/star1.png" class="star" alt="">
                                        <img src="~/images/star1.png" class="star" alt="">
                                        <img src="~/images/star1.png" class="star" alt="">
                                        <img src="~/images/star1.png" class="star" alt="">
                                        <img src="~/images/star2.png" class="star" alt="">
                                        <span >4 </span>
                                    </span>
                                   
                                </div>
                            </div>
                          </a>
                        </td>
                        }
                        else
                        {
                            <td></td>
                        }

                        <td class="payment px-0">@serviceRequest.TotalCost</td>
                        <td class="dashboard-btn pl-0" style="margin-left: -20px;">
                          <button class="btn dashboard-change-button" type="button" onclick="reschedule(@serviceRequest.ServiceRequestId)" data-toggle="modal" data-target="#serviceDateTimeModal">Change Date-Time</button>
                          <button class="btn dashboard-cancel-button" type="button" onclick="cancelService(@serviceRequest.ServiceRequestId)" data-toggle="modal" data-target="#serviceCancelModal">Cancel</button>
                        </td>
                    </tr> 
                         }
                    

                     }
                    
    
                    
                  </tbody>
                </table>
                <!-- ------------------------pagination start----------------------------------- -->
              <div class="page-hadling " >
                <div class="pagination-spacing d-flex">
                  <p class=" pagination-para pagination-spacing">show</p>
                  <select class="form-group entry-selction pagination-spacing"  id="exampleFormControlSelect1">
                      <option>10</option>
                      <option>20</option>
                      <option>30</option>
                      <option>40</option>
                      <option>50</option>
                    </select>
                    <span class="pagination-spacing pagination-para">entries</span>
                    <p class=" pagination-para">Total Record: 55</p>
                </div>
                
                <div class="ml-auto ">
                    <ul class="pagination ">
                        <li><a href=""><img src="~/images/left1.png" alt=""></a></li>
                        <li><a href=""><img src="~/images/left2.png" alt=""></a></li>
                        <li class="active-page"><a href="" >1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                        <li><a href=""><img src="~/images/left2.png" alt="" class="rotate-img"></a></li>
                        <li><a href=""><img src="~/images/left1.png" alt="" class="rotate-img"></a></li>
                    </ul>
                </div>            
            </div>
    
        <!------------------------------- pageination end---------------------------------------- -->
    


              </div>
          </div>


          @*-------------------------------------customerHistory start-------------------------------------------------------------*@

          <div class="historyRight" id="customerHistory" style="display: none;">
              <div id="service-history-table"></div>
          </div>

          @*-------------------------------------customerDetails start-------------------------------------------------------------*@

          <div class="" id="customerDetailsRight" style="width:100%;">
           
          </div>
          

          </div>
          </section>






        <!-- ---------- -------dashboard-serviceDetailModal part start-------------------- -->
      

      <!-- Modal -->
      <div class="modal" id="customerServiceInfoModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">

      </div>

      <!-- ---------------------dashboard-serviceDetailModal part End------------------- -->

      <!-- ---------------------dashboard-serviceDateTimeModal part start------------------- -->
      
      <div class="modal " id="serviceDateTimeModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      
      </div>
     
      <!-- ---------------------dashboard-serviceDateTimeModal part End------------------- -->


        <!-- ---------------------dashboard-serviceCancelModal part start------------------- -->


      <!-- Modal -->
      <div class="modal" id="serviceCancelModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  
      </div>

      <!-- ---------------------dashboard-serviceCancelModal part End------------------- -->




          @section scripts{
              <script>
                  jQueryAjaxPost = form => {
                    //console.log("method call");
                    try {
                        $.ajax({
                            type: 'POST',
                            url: form.action,
                            data: new FormData(form),
                            contentType: false,
                            processData: false,
                            success: function (res) {
                                if (res.detailsUpdate) {
                                    $("#detail-update-alert").show();
                                }
                                 else if (res.passwordUpdate) {
                                    $("#password-update-alert").show();
                                }
                                 else if (res.passworNotUpdate) {
                                    $("#password-notupdate-alert").show();
                                }
                                else if(res.addAddress){
                                     $("#EditAddressModal").modal("hide");
                                     $("#customerAddress").load(`/CustomerDashboard/customerAddress`);
                                }
                                else if(res.updateAddress){
                                     $("#EditAddressModal").modal("hide");
                                     $("#customerAddress").load(`/CustomerDashboard/customerAddress`);
                                }

                                
                               
                            },
                            error: function (err) {
                                console.log(err);
                            }
                        });
                    }
                    catch (e) {
                        console.log(e);
                    }

                    return false;
                };

                
              </script>
          }