@{
    Layout = null;
}
@{
    ViewBag.Title = "Service history";
}
@model IEnumerable<ServiceRequest>

    <style>
        .rating {
    position: absolute;
    display: inline;
    left: 50%;
    transform: rotateY(180deg);
}

.rating input{
    display: none;
}  

.rating label{
    display:;
    cursor: pointer;
    width: 20px;
}

.rating label::before{
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    top: 0;
    font-size: 16px;
    color: #B0C9CE;
    transition: .3s linear;
}

.rating label::after{
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    font-size: 16px;
    color: #ecb91c;
    top: 0;
    opacity: 0;
    transition: .3s linear;
    text-shadow: 0 2px 5px rgba(0,0,0,.2);
}

.rating label:hover::after,
.rating label:hover ~ label::after,
.rating input:checked ~ label::after
{
    opacity: 1;
}
    </style>
   <div class="right-table history-table "  >
                <div class="table-name d-flex justify-content-between   ">
                    <p class="table-name-info">Service History</p>
                    <button class="btn export-btn">Export</button>
                </div>

                <div class="alert alert-success alert-dismissible fade show" id="rating-update-alert" style="display:none" role="alert">
                    <strong>Your Rating successfully done.</strong> 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                 </div>  

                <table class="table text-center">
                  <thead>
                      
                    <tr>
                      <th scope="col">Service ID <img src="~/images/sort.png" alt="" srcset=""></th>
                      <th scope="col">Service Details <img src="~/images/sort.png" alt="" srcset=""></th>
                      <th scope="col">Service Provider <img src="~/images/sort.png" alt="" srcset=""></th>
                      <th scope="col">Payment <img src="~/images/sort.png" alt="" srcset=""></th>
                      <th scope="col">Status <img src="~/images/sort.png" alt="" srcset=""></th>
                      <th scope="col">Rate SP <img src="~/images/sort.png" alt="" srcset=""></th>
                    </tr>
                  </thead>
                  <tbody>
                @foreach(ServiceRequest serviceRequest in Model)
                {
                <tr>    
                      <td>
                        <a onclick="displayServiceDetails(@serviceRequest.ServiceRequestId)" data-toggle="modal" data-target="#customerServiceInfoModal" style=" cursor: pointer; ">@serviceRequest.ServiceRequestId</a>
                      </td>
                        <td class="service-date-time">
                            <a class="date-time" onclick="displayServiceDetails(@serviceRequest.ServiceRequestId)" data-toggle="modal" data-target="#customerServiceInfoModal" style=" cursor: pointer; ">
                              <div class="d-none">@String.Format("{0:yyyy/MM/dd}", serviceRequest.ServiceStartDate) @Convert.ToDateTime(serviceRequest.ServiceStartDate).TimeOfDay</div>
                            <span class="service-date"><img src="~/images/calendar2.png" alt="" srcset="">@String.Format("{0:dd/MM/yyyy}", serviceRequest.ServiceStartDate)</span>
                            <span class="service-time ml-2"><img src="~/images/layer-712.png" class="" alt="" srcset="">@(Convert.ToString(Convert.ToDateTime(serviceRequest.ServiceStartDate).TimeOfDay).Substring(0,5)) - @(Convert.ToString(Convert.ToDateTime(serviceRequest.ServiceStartDate.AddHours(Convert.ToDouble(serviceRequest.ServiceHours + serviceRequest.ExtraHours))).TimeOfDay).Substring(0,5))</span>
                          </a>
                        </td>
                       
                        @if(serviceRequest.ServiceProvider != null)
                        {
                            var rateList = serviceRequest.ServiceProvider.RatingRatingToNavigations.Where(x => x.RatingTo == serviceRequest.ServiceProviderId);
                            decimal spRate;
                            if (rateList.Count() > 0)
                            {
                                spRate = rateList.Average(t => t.Ratings);
                            }
                            else
                            {
                                spRate = 0;
                            }
                            int i = 0;

                        <td class="sp-deails px-0">
                          <a href="" class="">
                            <div class="d-flex">
                                <div class="cap-img">  
                                    <img class="" src="~/images/cap.png" alt="" srcset="">
                                </div>
                                <div class="name-rating">
                                    <p class="sp-name">@serviceRequest.ServiceProvider.FirstName @serviceRequest.ServiceProvider.LastName</p>
                                    
                                    @for (i = 0; i < @Math.Round(spRate); i++)
                                    {
                                           <img src="~/images/star1.png" class="star" alt="">
                                    }
                                    @while (i != 5)
                                    {
                                        <img src="~/images/star2.png" class="star" alt="">
                                        i++;
                                    }
                                   
                                </div>
                            </div>
                          </a>
                        </td>
                        }
                        else
                        {
                            <td></td>
                        }


                        <td class="payment">@serviceRequest.TotalCost</td>
                        @if(@serviceRequest.Status==2)
                        {
                        <td class="status"><p class="status-cancel">cancelled</p></td>
                        }
                        @if(@serviceRequest.Status==3)
                        {
                        <td class="status"><p class="status-complete">Completed</p></td>
                        }
                    <td>
                        @if (@serviceRequest.Status == 3)
                        {
                            <button class="rate-sp-button" type="button" style="cursor:pointer" onclick="RateSp('@(serviceRequest.ServiceProvider.FirstName + " " + serviceRequest.ServiceProvider.LastName)',@serviceRequest.ServiceProviderId, @serviceRequest.ServiceRequestId)">Rate SP</button>
                        }
                        else
                        {
                               <button class="rate-sp-button d-none" type="button" data-toggle="modal" data-target="#rateSpModal">Rate SP</button>
                        }                    
                    </td>
                    </tr> 
                }    
                    
    
    
                  </tbody>
                </table>
                <!-- ------------------------pagination start----------------------------------- -->
              <div class="page-hadling " >
                <div class="pagination-spacing d-flex">
                  <p class=" pagination-para pagination-spacing">show</p>
                  <select class="form-group entry-selction pagination-spacing"  id="exampleFormControlSelect1">
                      <option>10</option>
                      <option>20</option>
                      <option>30</option>
                      <option>40</option>
                      <option>50</option>
                    </select>
                    <span class="pagination-spacing pagination-para">entries</span>
                    <p class=" pagination-para">Total Record: 55</p>
                </div>
                
                <div class="ml-auto ">
                    <ul class="pagination ">
                        <li><a href=""><img src="~/images/left1.png" alt=""></a></li>
                        <li><a href=""><img src="~/images/left2.png" alt=""></a></li>
                        <li class="active-page"><a href="" >1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                        <li><a href=""><img src="~/images/left2.png" alt="" class="rotate-img"></a></li>
                        <li><a href=""><img src="~/images/left1.png" alt="" class="rotate-img"></a></li>
                    </ul>
                </div>            
            </div>
    
        <!------------------------------- pageination end---------------------------------------- -->
    
              </div>





        

<!-- Modal -->
<div class="modal" id="rateSpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="color:#4f4f4f">
      <div class="modal-header " style="border-bottom:none">
          <div class="d-flex ">
                <div class="cap-img ml-0">  
                    <img class="" src="~/images/cap.png" alt="" srcset="">
                </div>
                <div class="name-rating">
                    <h6 class="sp-name font-weight-bold" id="spFullName"></h6>
                    <span class="all-star ">
                        <img src="~/images/star1.png" class="star" alt="">
                        <img src="~/images/star1.png" class="star" alt="">
                        <img src="~/images/star1.png" class="star" alt="">
                        <img src="~/images/star1.png" class="star" alt="">
                        <img src="~/images/star2.png" class="star" alt="">
                        <span >4 </span>
                    </span>
                 </div>
            </div>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
           
          </div> 
           <form class="modal-body ratingForm" asp-controller="CustomerDashboard" asp-action="RateSP" id="Rating-form" onsubmit="return jQueryAjaxPost(this);">
            <input type="hidden" name="ServiceId" value="" />
            <input type="hidden" name="SPId" value="" />
            <div class="">
                <span>On time arrival</span>
                <div class="rating">
                    <input type="radio" name="star1" id="star11" /><label for="star11" onclick="setRatingValue('OnTimeArrival', 5)"></label>
                    <input type="radio" name="star1" id="star12" /><label for="star12" onclick="setRatingValue('OnTimeArrival', 4)"></label>
                    <input type="radio" name="star1" id="star13" /><label for="star13" onclick="setRatingValue('OnTimeArrival', 3)"></label>
                    <input type="radio" name="star1" id="star14" /><label for="star14" onclick="setRatingValue('OnTimeArrival', 2)"></label>
                    <input type="radio" name="star1" id="star15" /><label for="star15" onclick="setRatingValue('OnTimeArrival', 1)"></label>
                    <input type="text" name="OnTimeArrival" value="" />
                </div>
            </div>
            <div>
                <span>Friendly</span>
                <div class="rating">
                    <input type="radio" name="star2" id="star21" /><label for="star21" onclick="setRatingValue('Friendly', 5)"></label>
                    <input type="radio" name="star2" id="star22" /><label for="star22" onclick="setRatingValue('Friendly', 4)"></label>
                    <input type="radio" name="star2" id="star23" /><label for="star23" onclick="setRatingValue('Friendly', 3)"></label>
                    <input type="radio" name="star2" id="star24" /><label for="star24" onclick="setRatingValue('Friendly', 2)"></label>
                    <input type="radio" name="star2" id="star25" /><label for="star25" onclick="setRatingValue('Friendly', 1)"></label>
                    <input type="text" name="Friendly" value="" />
                </div>
            </div>
            <div>
                <span>Quality Of Service</span>
                <div class="rating">
                    <input type="radio" name="star3" id="star31" /><label for="star31" onclick="setRatingValue('QualityOfService', 5)"></label>
                    <input type="radio" name="star3" id="star32" /><label for="star32" onclick="setRatingValue('QualityOfService', 4)"></label>
                    <input type="radio" name="star3" id="star33" /><label for="star33" onclick="setRatingValue('QualityOfService', 3)"></label>
                    <input type="radio" name="star3" id="star34" /><label for="star34" onclick="setRatingValue('QualityOfService', 2)"></label>
                    <input type="radio" name="star3" id="star35" /><label for="star35" onclick="setRatingValue('QualityOfService', 1)"></label>
                    <input type="text" name="QualityOfService" value="" />
                </div>
            </div>
            <p class="mt-3 font-weight-bold">Feedback on Service Provider</p>
            <textarea name="Comment" style="width:100%"></textarea><br />
            <button type="submit" style="cursor:pointer" class="rescheduleBtnModal" >Submit</button>
        </form>       
      </div>
             
        
    </div>
  </div>


  <script>
      console.log("rating.......");
      function RateSp(SpName,SPId, ServiceId){
          console.log("hey..");
            $("#rateSpModal").modal('show');
            $(".ratingForm").trigger("reset");
            $('input[name="ServiceId"]').val(ServiceId);
            $('input[name="SPId"]').val(SPId);
            $("#spFullName").html(SpName);
      }

      function setRatingValue(name, value) {
        console.log("setting rating value");
        console.log(name);
        console.log(value);
        $(`input[name="${name}"]`).val(value);
      }
  </script>
  