
@model IEnumerable<UserAddress>

@{
    ViewBag.Title = "Customer Address";
}

@{
    Layout = null;
    int i = 1;
}
@*
 <div class="alert alert-success alert-dismissible fade show" id="address-delete-alert" style="display:none" role="alert">
                <strong>Your address successfully deleted.</strong> 
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
  </div>*@



<div class="right-table address-table ">
                <table class="table " >
                  <thead>
                    <tr>
                      <th scope="col">Addresses</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                    @foreach(UserAddress address in Model)
                    {
                     <tr>
                      <td>
                        <div class="address">
                          
                          <p>
                            <span class="font-weight-bold">Address : </span>@address.AddressLine2, @address.AddressLine1, @address.City-@address.PostalCode.
                          </p>
                          <p><span class="font-weight-bold">Phone number : </span>@address.Mobile</p>
                        </div>
                      </td>

                      <td class="d-flex justify-content-center">
                        <div class="address-img">
                          <p style="display:none;"></p>
                          <button type="button" class="btn addressEditbtn" data-toggle="modal" onclick="addEditAddress(@address.AddressId)" data-target="#EditAddressModal"><img src="~/images/edit-icon.png"></button>
                          <button type="button" class="btn addressDeletebtn" data-toggle="modal" onclick="deleteAddress(@address.AddressId)" data-target="#addressDeleteModal" ><img src="~/images/delete-icon.png"></button>
                        </div>
                      </td>
                </tr>

                i++;
            }
             

    
                  </tbody>
                </table>
                

                
                @if (i == 1)
                {
                    <div class="text-danger">You have not added any address yet, You can add new by clicking below button</div>
                }
               

             

                <div class="addNewAddress">
                  <button class="btn" data-toggle="modal" data-target="#EditAddressModal" onclick="addEditAddress(0)">Add New Address</button>
                </div>


                 <div class="modal" id="EditAddressModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">

                 </div>

        </div>


        <!-- ---------------------dashboard-AddressdeleteModal part start------------------- -->


      <!-- Modal -->
      <div class="modal " id="addressDeleteModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
       
      </div>

      <!-- ---------------------dashboard-AddressdeleteModal part End------------------- -->




    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>